<ion-card class="post-card">
  <ion-row>
    <ion-col>

      <img src="https://randomuser.me/api/portraits/thumb/men/99.jpg" class="user-pic" />
      <div class="user-name"> Bebiano_Lima</div>

    </ion-col>

    <ion-col class="ion-text-end post-menu">
      <ion-icon name="ellipsis-vertical-sharp" size="small"></ion-icon>
    </ion-col>

  </ion-row>

  <img src="./assets/images/madison.jpg" alt="">
  <ion-row>
    <ion-col>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-icon name="paper-plane-outline"></ion-icon>

    </ion-col>

    <ion-col class="ion-text-end ">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-col>

  </ion-row>


  <ion-card-content>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s.
  </ion-card-content>
</ion-card>
