<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon  [name]=" activeLink === 'home' ? 'home-sharp' :'home-outline'" (click)="activeLink =  'home' "></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon [name]=" activeLink === 'search' ? 'search-sharp' :'search-outline'" (click)="activeLink =  'search' "></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="reels">
      <ion-icon  [name]=" activeLink === 'videocam' ? 'videocam-sharp' :'videocam-outline'" (click)="activeLink =  'videocam' "></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="shopping">
      <ion-icon   [name]=" activeLink === 'card' ? 'card-sharp' :'card-outline'" (click)="activeLink =  'card' "></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
