<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>



    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <img src="./assets/images/logo.png" alt="">
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-end">


          <ion-row>
            <ion-col>
              <ion-icon name="add-circle-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon name="heart-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon name="chatbox-outline" size="large"></ion-icon>
            </ion-col>
          </ion-row>










        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <!-- user slider -->
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of users">
        <aside class="users-list">
          <img src="{{item.picture.thumbnail}}" />
          <div>{{item.name.first}}_{{item.name.last}}</div>
        </aside>
      </ion-slide>

    </ion-slides>
    <!-- EOF user slider -->
  </ion-item>

</ion-content>
