<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>



    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <img src="./assets/images/logo.png" alt="">
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-end">


          <ion-row>
            <ion-col >
              <ion-icon name="add-circle-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon name="heart-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col >
              <ion-icon name="chatbox-outline" size="large"></ion-icon>
            </ion-col>
          </ion-row>










        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
  <!-- user slider -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 4</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 5</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 6</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 7</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 8</h1>
    </ion-slide>
  </ion-slides>
  <!-- EOF user slider -->
</ion-item>

</ion-content>
