<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-title>
            <img src="./assets/images/logo.png" alt="">
          </ion-title>
        </ion-col>

        <ion-col class="ion-text-end">
          <ion-row>
            <ion-col>
              <ion-icon  name="add-circle-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon  name="heart-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon  name="paper-plane-outline" size="large"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-stories [users]="usersPosts" *ngIf="usersPosts.length!==0"></app-stories>
  <app-post [usersPosts]="usersPosts" *ngIf="usersPosts.length!==0" (loadMore)="loadMore()"></app-post>
</ion-content>
